*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: normal;
  background-color: #fff;
  color: #717171;
  font-family: "Inter", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

.site-wrapper {
  position: relative;
  overflow: hidden;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1 {
  font-size: 64px;
  line-height: 1.18;
  font-weight: 600px;
}

h2 {
  font-size: 36px;
  line-height: 1.23;
  font-weight: 600px;
}

h3 {
  font-size: 28px;
  line-height: 1.28;
  font-weight: 700px;
}

h4 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600px;
}

.bg-gray {
  background-color: #F5F7FA;
}

h1{
  color: #000000;
}
span{
  color:#4CAF4F ;
}
p{
  margin-top: 16px;
  margin-bottom: 32px;
}

.content{
  width: 100%;
  max-width: 657px;
}


.hero-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.content,
.banner-image{
  width: calc(50%-20px);
}
.hero-container{
  padding: 100px 0;
}

.bg-gray{
  background: #F5F7FA;
  margin: ;
}
