*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  background-color: #fff;
  color: #717171;
  font-family: "Inter", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1 {
  font-size: 64px;
  line-height: 1.18;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  line-height: 1.23;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 1.28;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* Global styles */
.container {
  max-width: 1184px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.site-wrapper {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration-line: none;
  border-radius: 5px;
}

.btn-primary {
  padding: 14px 32px;
  color: white;
  background-color: #4caf4f;
  transition: 0.2s ease-in-out;
}

.btn-primary:hover {
  box-shadow: 5px 10px 30px rgba(76, 175, 79, 0.629);
}

/* header Section Styles */
.site-header {
  padding: 22px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.stickyHeader {
  background-color: white !important;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-nav ul {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
  gap: 36px;
}

.main-nav li a {
  color: #18191f;
  position: relative;
  transition: 0.3s ease-in-out;
}
.main-nav li a:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #4caf4f;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  animation: increase 0.4s ease-in-out;
}

.btn-nav {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}

.login-btn {
  color: #4caf4f;
  font-weight: 600;
  padding: 10px 20px;
}

.btn-nav button {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  height: 30px;
  background: transparent;
  border: none;
  padding: 0;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

nav.active ul {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  background-color: #f5f7fa;
  height: 100vh;
  width: 30%;
  padding-top: 20px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid black;
  padding: 24px;
}

/* Hero Banner Section Styles */

.bg-gray {
  background-color: #f5f7fa;
}

h1 {
  color: #000000;
}

span {
  color: #4caf4f;
}

p {
  margin-top: 8px;
  margin-bottom: 16px;
}

/* Hero Banner sections */
.hero-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  min-height: 740px;
  padding-top: 100px;
}

/* Hero Content Text Section */
.hero-content-text {
  width: 100%;
  max-width: 657px;
  padding: 30px 0;
}

/* Hero Habber Images Section calculated the width of the image */
.banner-image {
  width: calc(40% - 6px);
}

/* Hero Content Text Calculated the width for this section */

.hero-content-text {
  width: calc(60% - 20px);
}

.content-text {
  width: calc(50% - 20px);
}

/* Out Clients Logos Sections */
.our-client-logos-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* For the multi purpose header block for the all the header sections */

.header-block {
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

/* For the all the header section h2 color */

.header-block h2 {
  color: #4d4d4d;
}

.my-10 {
  margin: 40px 0;
}

/* This is the contetn wrapper for the media left and the the content right */

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.content-img {
  display: flex;
  justify-content: start;
  width: calc(40% - 20px);
}
.content-wraps {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

/* 3-cold card styles */

.col-3-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.card {
  width: 300px;
  padding: 24px 28px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(171, 190, 209, 0.2);
  transition: 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 5px 10px 0 rgba(171, 187, 203, 0.697);
  cursor: pointer;
}

.card h3 {
  color: #4d4d4d;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  margin-bottom: 0;
}

.card-icon {
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
  max-width: 240px;
  margin: 0 auto 32px;
}

.card-icon::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 80px;
  z-index: -1;
  width: 50px;
  height: 50px;
  border-radius: 18px 5px 10px 5px;
  background: #e8f5e9;
}
.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 0;
}
.content-text-button {
  width: calc(60% - 20px);
  display: flex;
  flex-direction: column;
  align-items: start;
}
.content-service-section {
  width: calc(50% - 20px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.service {
  width: calc(50% - 30px);
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Testimonial section start */
.testimonial-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
  padding-bottom: 48px;
}
.testimonial-image {
  width: calc(30% - 20px);
  overflow: hidden;
  box-shadow: 5px px 30px rgba(0, 0, 0, 0.363);
  border-radius: 8px;
}
.testimonial-image img {
  width: 100%;
  border-radius: 6px;
}

.testimonial-content {
  width: calc(70% - 20px);
}
.author {
  color: #4caf4f;
  font-size: 20px;
  font-weight: 600;
}
.testimonial-our-client-logos-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.our-client-logos-section img {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.our-client-logos-section img:hover {
  transform: scale(1.2);
}

.testimonial-our-client-logos-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #4caf4f;
}

/* Testimonial section End */

/* Caring Blog marketing Section start here */
.blog-conainer {
  margin-bottom: 100px;
}

.blog-conainer .col-3-row {
  justify-content: start;
  align-items: center;
  margin: 0 auto;
}

.blog-3-row {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.cards {
  width: 368px;
  width: calc(33.33% - 28px);
  border-radius: 8px;
  position: relative;
  margin-bottom: 100px;
  margin-inline: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.cards:hover,
.card-img:hover{
  filter: drop-shadow(0 4px 10px #7c907c79);
}
.cards .card-img {
  width: 100%;
}
.blog-content-text {
  width: 80%;
  text-align: center;
  margin-inline: auto;
  padding: 16px;
  margin-top: -90px;
  position: relative;
  border-radius: 8px;
  background: #f5f7fa;
  box-shadow: 0 8px 16px 0 rgba(171, 190, 209, 0.4);
}

.blog-content-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #4caf4f;
}
.blog-content-text p {
  font-weight: 600;
  font-size: 20px;
}

/* Caring Blog marketing Section end here */

/* this is the button icon the the footer Text section */
.btn-icon {
  fill: red;
}

/* This is footer lg Text */
.footer-lg-text {
  width: 100%;
  max-width: 887px !important;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;
}
.footer-lg-text a {
  margin-top: 32px;
}
.footer-lg-text h2 {
  font-size: 64px;
}

/* footer section style  */

.site-footer {
  background: #263238;
  padding: 64px 0;
  color: #f5f7fa;
  font-size: 14px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-col-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: calc(45% - 10px);
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.social-item {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.social-item:hover {
  border: 1px solid #ffffff;
  transform: translateY(-5px);
}

.footer-col-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: calc(55% - 10px);
}

.listing h4,
.newsletter h4 {
  margin-bottom: 24px;
}

.listing ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listing ul a {
  color: #f5f7fa;
  transition: 0.3s ease-in-out;
  position: relative;
}
.listing ul a:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -10px;
  left: 0;
  animation: increase 0.3s ease-in-out;
}

@keyframes increase {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

input {
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-right: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #d9dbe1;
}

input::placeholder {
  color: #d9dbe1;
}

input:focus {
  outline: none;
}

form {
  position: relative;
  max-width: 220px;
  margin: 0 auto;
}

.send-btn {
  background: transparent;
  border: none;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 10px;
  cursor: pointer;
}

/* Tablet */
@media (max-width: 1024px) {
  .content-text-button,
  .content-text,
  .content-img,
  .banner-image {
    width: 100%;
    padding: 20px;
  }

  .main-nav ul {
    display: none;
  }

  .btn-nav button {
    display: flex;
  }

  h1 {
    font-size: 50px;
  }

  .col-3-row {
    justify-content: center;
  }

  .card {
    width: calc(50% - 10px);
  }
  .content-service-section {
    width: calc(100% - 0px);
  }
  .testimonial-image,
  .testimonial-content {
    width: calc(50% - 20px);
  }
  .hero-content-text {
    width: 100%;
    max-width: 1024px;
  }
  .cards {
    width: calc(50% - 28px);
  }
  .footer-row {
    gap: 40px;
  }

  .footer-col-left {
    width: 100%;
    text-align: center;
    gap: 20px;
  }

  .footer-col-right {
    width: 100%;
    justify-content: space-around;
  }

  .social-networks {
    justify-content: center;
  }

  .col-left,
  .col-right {
    width: 100%;
  }

  .item {
    justify-content: center;
  }

  .col-left-content-wrap {
    max-width: none;
  }

  .tim-smith-col-image,
  .tim-smith-col-content {
    width: 100%;
  }

  .listing {
    width: calc(30% - 10px);
  }
}

/* Mobile large */
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  .our-client-logos-section {
    justify-content: center;
    gap: 60px;
  }
  .card {
    width: 100%;
  }
  .testimonial-image {
    width: 100%;
    min-height: 326px;
  }
  .service {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial-image,
  .testimonial-content {
    width: 100%;
  }
  .hero-content-text {
    width: 100%;
  }
  .cards {
    width: 100%;
  }
  .blog-content-text a {
    font-size: 16px;
    font-weight: 600;
  }
  .blog-content-text p {
    font-weight: 600;
    font-size: 16px;
  }

  .newsletter {
    width: 100%;
    text-align: center;
  }
}

/* Mobile small */
@media (max-width: 576px) {
  .btn-nav a {
    display: none;
  }

  .our-client-logos-section {
    gap: 30px;
  }

  nav.active ul {
    width: 50%;
  }

  h1 {
    font-size: 36px;
  }
  /* service sections */
  .service {
    width: calc(100% - 0px);
    padding: 20px 0;
  }

  .blog-content-text {
    bottom: -35px;
    left: 0px;
    max-width: 326px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
