*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  background-color: #fff;
  color: #717171;
  font-family: "Inter", "Arial", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1 {
  font-size: 64px;
  line-height: 1.18;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  line-height: 1.23;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 1.28;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* Global styles */
.container {
  max-width: 1184px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.site-wrapper {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration-line: none;
  border-radius: 5px;
}

.btn-primary {
  padding: 14px 32px;
  color: white;
  background-color: #4caf4f;
}

.btn-default {
  color: #4caf4f;
  font-weight: 500;
  padding: 10px 20px;
}

.btn-default:hover {
  text-decoration: underline;
  color: #000;
}

.btn-primary:hover {
  background-color: #000;
  text-decoration: none;
}

.btn.btn-primary-sm {
  padding: 10px 20px;
}

.my-10 {
  margin: 40px 0;
}

.py-16 {
  padding: 64px 0;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.bg-gray {
  background-color: #f5f7fa;
}

.text-green {
  color: #4caf4f;
}

.btn-wrap {
  margin-top: 32px;
}

.two-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* header block for the common header sections */
.header-block {
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
}

.header-block h2 {
  color: #4d4d4d;
}

.header-block p {
  margin-top: 8px;
}

/* header Section Styles */
.site-header {
  padding: 22px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.stickyHeader {
  background-color: white !important;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  width: 74%;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 36px;
}

.main-nav li a {
  color: #18191f;
}

.main-nav li a:hover {
  color: #4caf4f;
}

.btn-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}

.hamburger {
  display: none;
}

/* Hero Banner sections */
.hero-banner {
  display: flex;
  align-items: center;
  min-height: 740px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-banner h1 {
  color: #4d4d4d;
}

.hero-content-text {
  width: calc(60% - 25px);
  font-size: 16px;
}

.banner-image {
  width: calc(40% - 25px);
}

.banner-image img {
  width: 100%;
}

/* Logos Sections */
.logos-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* media-content styles */
.media-content-text {
  width: calc(60% - 25px);
  padding-right: 60px;
}

.media-content h2 {
  color: #4d4d4d;
}

.media-content-img {
  width: calc(40% - 25px);
  padding-bottom: 52px;
  padding-top: 52px;
}

.media-content-img img {
  width: 100%;
}

/* three-column card styles */

.three-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 16px;
}

.card {
  width: 300px;
  padding: 24px 28px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(171, 190, 209, 0.2);
}

.card h3 {
  color: #4d4d4d;
  margin-bottom: 8px;
}

.card p {
  margin-bottom: 0;
}

.card-icon {
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
  max-width: 240px;
  margin: 0 auto 32px;
}

.card-icon::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 80px;
  z-index: -1;
  width: 50px;
  height: 50px;
  border-radius: 18px 5px 10px 5px;
  background: #e8f5e9;
}

/* stats block styles */

.stats-block .col-left {
  width: calc(50% - 25px);
}

.stats-block .col-right {
  width: calc(50% - 25px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
}

.stats-block .item {
  width: calc(50% - 15px);
  display: flex;
  justify-content: start;
  gap: 16px;
  align-items: center;
}

.stats-block .col-left .text-green {
  display: block;
}

/* review-block styles */
.review-block {
  padding: 32px 0;
}

.review-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 78px;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

.review-image {
  width: calc(30% - 39px);
  overflow: hidden;
  border-radius: 8px;
}

.review-image img {
  width: 100%;
}

.review-content {
  width: calc(70% - 39px);
}

.review-content h4 {
  color: #4caf4f;
  margin-bottom: 8px;
}

.review-content p {
  margin-top: 0px;
}

.review-content span {
  display: block;
  color: #89939e;
}

.review-content .logos-holder {
  padding: 0px;
  margin-top: 32px;
  align-items: center;
}

.icon-btn {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #4caf4f;
  align-items: center;
}

.icon-btn a {
  color: #4caf4f;
}

.icon-btn a:hover {
  opacity: 0.8;
}

/* Card block alt styles */
.cards-block-alt {
  margin-top: 60px;
  margin-bottom: 100px;
}

.cards-block-alt .header-block {
  max-width: 650px;
}

.cards-block-alt .three-column {
  gap: 40px;
}

.box {
  width: calc(33.33% - 28px);
}

.box figure img {
  width: 100%;
}

.box-content {
  width: 87%;
  text-align: center;
  margin-inline: auto;
  padding: 16px;
  margin-top: -90px;
  position: relative;
  border-radius: 8px;
  background: #f5f7fa;
  box-shadow: 0 8px 16px 0 rgba(171, 190, 209, 0.4);
}

.box-content p {
  margin: 0px;
}

.box-content .icon-btn {
  margin-top: 8px;
  font-size: 20px;
}

/* CTA block styles */
.cta-holder {
  max-width: 800px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.cta-holder h2 {
  font-size: 64px;
  color: #263238;
}

.cta-holder .icon-btn {
  margin-top: 32px;
}

.cta-holder .icon-btn a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.cta-holder .icon-btn img {
  filter: brightness(0) invert(1);
}

/* footer styles */
.site-footer {
  background: #263238;
  padding: 64px 0;
  color: #f5f7fa;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-col-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: calc(42% - 10px);
}

.footer-col-left p {
  line-height: 2;
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.social-item {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item:hover {
  background-color: #4caf4f;
}

.footer-col-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: calc(58% - 10px);
}

.footer-links h4,
.newsletter h4 {
  margin-bottom: 24px;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links ul a {
  color: #f5f7fa;
}

.footer-links ul a:hover {
  color: #4caf4f;
}

.newsletter-form {
  position: relative;
  max-width: 255px;
  margin: 0 auto;
}

.form-control {
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-right: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #d9dbe1;
  width: 100%;
  min-width: 255px;
}

.form-control::placeholder {
  color: #d9dbe1;
}

.form-control:focus {
  outline: none;
}

.send-btn {
  background: transparent;
  border: none;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 10px;
  cursor: pointer;
}

/* laptop */
@media (max-width: 1023px) {
  h1 {
    font-size: 50px;
  }

  .cta-holder h2 {
    font-size: 44px;
  }

  .media-content .media-content-text {
    padding: 0;
  }

  .media-content .media-content-img {
    padding: 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    background: transparent;
    border: none;
    padding: 0;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .header-right {
    position: absolute;
    left: -78%;
    width: 0;
    top: 0;
    bottom: 0;
  }

  .header-right.active {
    left: 0;
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f5f7fa;
    height: 100vh;
    transition: all 0.5s;
    border-right: 1px solid #999;
    padding: 24px;
  }

  .header-right.active .main-nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .three-column {
    justify-content: center;
  }

  .card {
    width: calc(50% - 10px);
  }

  .box {
    width: calc(50% - 20px);
  }

  .footer-row {
    gap: 40px;
  }

  .footer-col-left {
    width: 100%;
    text-align: center;
    gap: 20px;
  }

  .footer-col-right {
    width: 100%;
    justify-content: space-around;
  }

  .social-networks {
    justify-content: center;
  }

  .stats-block .col-left {
    text-align: center;
  }

  .stats-block .col-left .text-green {
    display: inline;
  }

  .stats-block .col-left,
  .stats-block .col-right {
    width: 100%;
  }

  .stats-block .item {
    justify-content: center;
  }

  .review-image,
  .review-content {
    width: 100%;
  }

  .review-holder {
    gap: 20px;
  }
}

/* Tablet device */
@media (max-width: 767px) {
  h1 {
    font-size: 42px;
  }
  h4 {
    font-size: 16px;
  }

  h2 {
    font-size: 28px;
  }

  .cta-holder h2 {
    font-size: 28px;
  }

  .hero-content-text {
    width: 100%;
  }

  .banner-image {
    width: 100%;
  }

  .logos-holder {
    justify-content: center;
    gap: 60px;
  }

  .card {
    width: 100%;
  }
  .icon-btn a{
    font-size: 16px;
  }

  .media-content-text,
  .media-content-img {
    width: 100%;
  }

  .footer-links {
    width: calc(30% - 10px);
  }

  .newsletter {
    width: 100%;
    text-align: center;
  }
  .btn-primary{
    font
  }
}

/* Mobile small */
@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .stats-block .item {
    width: 100%;
  }

  .logos-holder {
    gap: 30px;
  }

  .footer-links {
    width: calc(50% - 10px);
  }

  .footer-links h4,
  .newsletter h4 {
    margin-bottom: 16px;
  }

  .box {
    width: 100%;
  }
}
