*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  background-color: #fff;
  color: #717171;
  font-family: "Inter", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1 {
  font-size: 64px;
  line-height: 1.18;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  line-height: 1.23;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 1.28;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* Global styles */
.container {
  max-width: 1184px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.site-wrapper {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration-line: none;
  border-radius: 5px;
}

.btn-primary {
  padding: 14px 32px;
  color: white;
  background-color: #4caf4f;
}

.btn-secondry {
  padding: 10px 20px;
  color: white;
  background-color: #4caf4f;
}

.btn-primary:hover {
  text-decoration: underline;
}

.btn-secondry:hover {
  text-decoration: underline;
}

/* header Section Styles */
.site-header {
  padding: 22px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.stickyHeader {
  background-color: white !important;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-nav ul {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
  gap: 36px;
}

.main-nav li a {
  color: #18191f;
}

.btn-nav {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}

.login-btn {
  color: #4caf4f;
  font-weight: 500;
  padding: 10px 20px;
}

.login-btn:hover {
  text-decoration: underline;
}

.btn-nav button {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  height: 30px;
  background: transparent;
  border: none;
  padding: 0;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

nav.active ul {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  background-color: #f5f7fa;
  height: 100vh;
  width: 30%;
  padding-top: 20px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid black;
  padding: 24px;
}

/* Hero Banner Section Styles */

.bg-gray {
  background-color: #f5f7fa;
}


.text-green {
  color: #4caf4f;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Hero Banner sections */
.hero-banner {
  display: flex;
  align-items: center;
  min-height: 740px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.col-2-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 50px;
  color: #4D4D4D;
}

.btn-wrap {
  margin-top: 32px;
}

.hero-content-text {
  width: calc(60% - 25px);
}

.banner-image {
  width: calc(40% - 25px);
}

.banner-image img {
  width: 100%;
}

/* Our Clients Logos Sections */
.logos-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* For the multi purpose header block for the all the header sections */

.header-block {
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
}

.header-block h2 {
  color: #4d4d4d;
}

.header-block p {
  margin-top: 8px;
}

.my-10 {
  margin: 40px 0;
}

.py-16 {
  padding: 64px 0;
}

/* This is the contetn wrapper for the media left and the the content right */

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.col-2-img {
  width: calc(40% - 25px);
}

.col-2-img img {
  width: 100%;
}

/* 3-cold card styles */

.col-3-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 16px;
}

.card {
  width: 300px;
  padding: 24px 28px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(171, 190, 209, 0.2);
}

.card h3 {
  color: #4D4D4D;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  margin-bottom: 0;
}

.card-icon {
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
  max-width: 240px;
  margin: 0 auto 32px;
}

.card-icon::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 80px;
  z-index: -1;
  width: 50px;
  height: 50px;
  border-radius: 18px 5px 10px 5px;
  background: #e8f5e9;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 0;
}

.my-10 .col-2-row {
  align-items: center;
}

.my-10 .col-2-img {
  padding-bottom: 52px;
  padding-top: 52px;
}

.my-10 .col-2-content {
  padding-right: 60px;
}

.col-2-content {
  width: calc(60% - 25px);
  padding-right: 60px;
}

.col-2-content h2 {
  color: #4D4D4D;
}

.col-2-content p {
  font-size: 14px;
}

/* Helping a local section styles */

.col-left {
  width: calc(50% - 25px);
}

.col-right {
  width: calc(50% - 25px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
}

.item {
  width: calc(50% - 15px);
  display: flex;
  justify-content: start;
  gap: 16px;
  align-items: center;
}

.col-left-content-wrap .text-green {
  display: block;
}

/* how to design section styles */
.how-to-design .col-2-img {
  padding: 0;
}


/* Tim smith section start */
.tim-smith-section {
  padding: 32px 0;
}

.tim-smith-row {
  display: flex;
  flex-wrap: wrap;
  gap: 78px;
  justify-content: center;
}

.tim-smith-col-image {
  width: calc(30% - 39px);
  overflow: hidden;
  border-radius: 8px;
}

.tim-smith-col-image img {
  width: 100%;
}

.tim-smith-col-content {
  width: calc(70% - 39px);
}

.tim-smith-col-content h4 {
  color: #4caf4f;
  margin-bottom: 8px;
}

.tim-smith-col-content p {
  margin-top: 0px;
}

.tim-smith-col-content span {
  display: block;
  color: #89939E;
}

.tim-smith-col-content .logos-row {
  padding: 0px;
  margin-top: 32px;
  align-items: center;
}

.icon-btn {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #4caf4f;
  align-items: center;
}

.icon-btn a {
  color: #4caf4f;
}

.icon-btn a:hover {
  text-decoration: underline;
}

/* Testimonial section End */

/* Caring Blog marketing Section start here */
.blog-container {
  margin-top: 60px;
  margin-bottom: 100px;
}

.blog-container .header-block {
  max-width: 650px;
}

.blog-container .col-3-row {
  justify-content: start;
  gap: 40px;
}

.box {
  width: calc(33.33% - 28px);
}

.box figure img {
  width: 100%;
}

.box-content {
  width: 80%;
  text-align: center;
  margin-inline: auto;
  padding: 16px;
  margin-top: -90px;
  position: relative;
  border-radius: 8px;
  background: #F5F7FA;
  box-shadow: 0 8px 16px 0 rgba(171, 190, 209, 0.40);
}

.box-content p {
  margin: 0px;
}

.box-content .icon-btn {
  margin-top: 8px;
}

.content-block {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 32px 0;
}

.content-block h2 {
  font-size: 64px;
  color: #4d4d4d;
}

.content-block .icon-btn {
  margin-top: 32px;
}

.content-block .icon-btn a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.content-block .icon-btn img {
  filter: brightness(0) invert(1);
}




/* footer styles */

.site-footer {
  background: #263238;
  padding: 64px 0;
  color: #F5F7FA;
  font-size: 14px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-col-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: calc(45% - 10px);
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.social-item {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-col-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: calc(55% - 10px);
}

.listing h4,
.newsletter h4 {
  margin-bottom: 24px;
}

.listing ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listing ul a {
  color: #F5F7FA;
}

input {
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-right: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #D9DBE1;
}

input::placeholder {
  color: #D9DBE1;
}

input:focus {
  outline: none;
}

form {
  position: relative;
  max-width: 220px;
  margin: 0 auto;
}

.send-btn {
  background: transparent;
  border: none;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 10px;
  cursor: pointer;
}



/* laptop */
@media (max-width: 1024px) {

  .content-block h2 {
    font-size: 44px;
  }

  .my-10 .col-2-content {
    padding: 0;
  }

  .my-10 .col-2-img {
    padding: 0;
  }

  .main-nav ul {
    display: none;
  }

  .btn-nav button {
    display: flex;
  }

  h1 {
    font-size: 50px;
  }

  .col-3-row {
    justify-content: center;
  }

  .card {
    width: calc(50% - 10px);
  }

  .col-left-content-wrap .text-green {
    display: inline;
  }

  .content-service-section {
    width: calc(100% - 0px);
  }

  .box {
    width: calc(50% - 20px);
  }

  .testimonial-image,
  .testimonial-content {
    width: calc(50% - 20px);
  }

  .footer-row {
    gap: 40px;
  }

  .footer-col-left {
    width: 100%;
    text-align: center;
    gap: 20px;
  }

  .footer-col-right {
    width: 100%;
    justify-content: space-around;
  }

  .social-networks {
    justify-content: center;
  }

  .col-left,
  .col-right {
    width: 100%;
  }

  .item {
    justify-content: center;
  }

  .col-left-content-wrap {
    max-width: none;
  }

  .tim-smith-col-image,
  .tim-smith-col-content {
    width: 100%;
  }

  .tim-smith-row {
    gap: 20px;
  }

}

/* Tablet device */
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 28px;
  }

  .content-block h2 {
    font-size: 28px;
  }

  .hero-content-text {
    width: 100%;
  }

  .banner-image {
    width: 100%;
  }


  .logos-row {
    justify-content: center;
    gap: 60px;
  }

  .card {
    width: 100%;
  }

  .col-2-content,
  .col-2-img {
    width: 100%;
  }

  .testimonial-image {
    width: 100%;
    min-height: 326px;
  }

  .service {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .testimonial-image,
  .testimonial-content {
    width: 100%;
  }

  .listing {
    width: calc(30% - 10px);
  }

  .newsletter {
    width: 100%;
    text-align: center;
  }

}

/* Mobile small */
@media (max-width: 576px) {
  .btn-nav a {
    display: none;
  }

  .logos-row {
    gap: 30px;
  }

  nav.active ul {
    width: 50%;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .item {
    width: 100%;
  }

  /* service sections */
  .service {
    width: calc(100% - 0px);
    padding: 20px 0;
  }

  .listing {
    width: calc(50% - 10px)
  }

  .listing h4,
  .newsletter h4 {
    margin-bottom: 16px;
  }

  .box {
    width: 100%;
  }

}