*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  background-color: #fff;
  color: #717171;
  font-family: "Inter", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1 {
  font-size: 64px;
  line-height: 1.18;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  line-height: 1.23;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 1.28;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}

/* for laptop */
@media (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}

/* for tablet */
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}

/* for Mobile */
@media (max-width: 640px) {
  h1 {
    font-size: 36px;
  }
}

p {
  margin: 16px 0;
}

a {
  text-decoration: none;
}

/* Global styles */
.container {
  max-width: 1184px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.site-wrapper {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration-line: none;
  border-radius: 5px;
}

.btn-primary {
  padding: 14px 32px;
  color: white;
  background-color: #4CAF4F;
}

.btn-secondry {
  padding: 10px 20px;
  color: white;
  background-color: #4CAF4F;
}


.btn-primary:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* header Section Styles */
.site-header {
  padding: 22px 0;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-nav ul {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.main-nav li a{
  color: #18191F;
}

.btn-nav {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}

.login-btn {
  color: #4CAF4F;
  font-weight: 500;
  padding: 10px 20px;
}

/* Hero Banner Section Styles */

.bg-gray {
  background-color: #F5F7FA;
}

h1 {
  color: #000000;
}

span {
  color: #4CAF4F;
}

p {
  margin-top: 16px;
  margin-bottom: 32px;
}

.content {
  width: 100%;
  max-width: 657px;
}


.hero-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 599px;
}

.content,
.banner-image {
  width: calc(50%-20px);
}

.banner-image{
  width: calc(40% - 20px);
}

.content{
  width: calc(60% - 20px);
}
.body-section{
  display: flex;
  justify-content: space-between;
}
.header-section{
  text-align: center;
}
.my-10{
  margin: 40px 0;
}


/* Tablet */

@media (max-width: 1024px) {
  .content,
  .banner-image {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
  }
}

/* Mobile large */

@media(max-width:768px){

} 
/* Mobile small */

@media(max-width:576px){

}